{% extends 'base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}
	<body>
		<div
			id="db-wrapper">
			<!-- navbar vertical -->
			{% include 'home/nav.html.twig' %}
			<h1 class="display-2 text-center">Liste des Agents Marketing</h1>
			<table class="table table-bordered ">
				<thead>
					<tr class="table-secondary">
						<th scope="col">Nom</th>
						<th scope="col">Prenom</th>
						<th scope="col">Date de Naissance</th>
						<th scope="col">Numero de telephone</th>
						<th scope="col">Adresse Email</th>
						<th colspan='2' class='text-center'>Actions</th>
					</tr>
				</thead>
			</tr>
		</thead>
	</body>
</thead>
<tbody>
	{% for user in ListUsers %}
		<tr class="table-success">

			<td>{{user.name}}</td>
			<td>{{user.Prenom}}</td>
			<td>{{user.datenaiss|date('Y-m-d')}}</td>
			<td>{{user.telephone}}</td>
			<td>{{user.email}}</td>
			<td>
				<a href="#" class="btn btn-warning">Modifier</a>
			</td>
			<td>
				<a href="#" class="btn btn-danger">Supprimer</a>
			</td>

		</tr>
	{% endfor %}
</tbody></tr></body></tbody></table></body></div></body></div></body> {% endblock %}
