{% extends 'base.html.twig' %}

{% block title %}Liste des Entreprise
{% endblock %}
{% block body %}
	<body>
		<div
			id="db-wrapper">
			<!-- navbar vertical -->
			{% include 'home/nav.html.twig' %}
			<h1 class="display-2 text-center">Liste des Entreprise</h1>
			<table class="table table-bordered ">
				<thead>
					<tr class="table-secondary">
						<th scope="col">Nom</th>
						<th scope="col">Description</th>
						<th scope="col">Contact</th>
						<th scope="col">Localisation</th>
						<th scope="col">Date d'ajout</th>
						<th scope="col">Agent</th>
						<th colspan='2' class='text-center'>Actions</th>
					</tr>
				</thead>
			</tr>
		</thead>
	</body>
</thead>
<tbody>
	{% for list in EntrepriseList %}
		<tr class="table-success">

			<td>{{list.nom}}</td>
			<td>{{list.description}}</td>
			<td>{{list.contact}}</td>
			<td>{{list.Localisation}}</td>
			<td>{{list.dateajout|date('Y-m-d')}}</td>
			<td>{{list.users.id}}</td>
			<td>
				<a href="#" class="btn btn-warning">Modifier</a>
			</td>
			<td>
				<a href="#" class="btn btn-danger">Supprimer</a>
			</td>

		</tr>
	{% endfor %}
</tbody></tr></body></tbody></table></body></div></body></div></body> {% endblock %}
