{% extends 'baseprint.html.twig' %}
{% block title %}

	<h1 class="display-1">
		Liste des Entreprises
	</h1>

{% endblock %}
{% block body %}

	<div class="text-center">
		<h1 class="display-1 ">Liste des Entreprises
		</h1>
	</div>
	<div class="table-responsive">
		<table class="table table-bordered" border="4">
			<thead>
				<tr class="table-secondary">
					<th scope="col">Nom</th>
					<th scope="col">Description</th>
					<th scope="col">Contact</th>
					<th scope="col">Localisation</th>
					<th scope="col">Date d'ajout</th>
					<th scope="col">Statut</th>
					<th scope="col">Agent</th>
					<th scope="col">Prospection</th>
				</tr>
			</thead>
			<tbody>
				{% for list in EntrepriseList %}
					<tr class="table-primary text-justify">

						<td>{{list.nom}}</td>
						<td>{{list.description}}</td>
						<td>{{list.contact}}</td>
						<td>{{list.Localisation}}</td>
						<td>{{list.dateajout|date('d M Y H:m')}}</td>
						{% if list.etat ==1 %}
							<td>
								Valider
							</td>
						{% else %}
							<td>
								Non Valider
							</td>
						{% endif %}
						<td>
							{{list.users.name}}
							{{list.users.prenom}}
						</td>
						{% if list.prospects.snapshot !=null %}
							<td>Effectuer</td>
						{% else %}
							<td>Non Effectuer</td>
						{% endif %}
					</tr>
				</td>
			{%  endfor %}
		</tbody>
	</table>
	<div>
		<p class="text-center">
			Fait à Lomé le
			{{Date|date('d M Y H:m')}}
			par
			{{user}}
		</p>
	</div>
</div>{% endblock %}
